<h2><%= @request.cat.name %></h2>

Start_Date: <%= @request.start_date %> </br>
End_Date: <%= @request.end_date %> </br>
Status: <%= @request.status %> <br>
<br>
<a href="<%= edit_cat_rental_request_url%>"> <button>Edit</button> </a>