<h2><%= @cat.name %></h2>

Age: <%= @cat.age %> </br>
Birth_date: <%= @cat.birth_date %> </br>
Color: <%= @cat.color %> </br>
Sex: <%= @cat.sex %> <br>
<br>
<a href="<%= edit_cat_url%>"> <button>Edit</button> </a>